@model Milk.BLL.RawPurchaseDto

@{
    ViewBag.Title = "Редактирование закупки сырья";
    var errorMessage = "";
    if (TempData.ContainsKey("ErrorMessage"))
    {
        errorMessage = TempData["ErrorMessage"] as string;
    }
}

<h2>Редактирование закупки сырья</h2>

@using (Html.BeginForm("Edit", "RawPurchase", FormMethod.Post))
{
    @Html.HiddenFor(m => m.RawPurchaseId)

    <div class="m-t">
        <labal>Сырье</labal>
    </div>
    <div>
        @Html.DropDownListFor(m => m.RawId, new DropDownReference().GetRawMaterial)
    </div>

    <div class="m-t">
        <labal>Количество</labal>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Amount)
        <div>
            <span class="error-message">@Html.ValidationMessageFor(model => model.Amount)</span>
        </div>
    </div>

    @*<div class="m-t">
        <labal>Сумма</labal>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Sum)
    </div>

    <div class="m-t">
        <labal>Дата</labal>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Date)
    </div>*@

    <div class="m-t">
        <labal>Сотрудник</labal>
    </div>
    <div>
        @Html.DropDownListFor(m => m.EmployeeId, new DropDownReference().GetEmployee)
    </div>

    <div class="m-t">
        <button type="submit" class="btn btn-info btn-def fa fa-floppy-o">Сохранить</button>
    </div>
}
<script type="text/javascript">

    var errorMessage = '@errorMessage';

    document.addEventListener("DOMContentLoaded", function (event) {

        if (errorMessage != undefined && errorMessage != null && errorMessage.length >0)
            $.gritter.add({
                title: 'Предупреждение!',
                text: errorMessage
            });
    });

</script>